.display {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    width: 500px;
    height: 400px;
    display: block;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: rgba($color: #ffffff, $alpha: 0.5);
    overflow-y: scroll;
    overflow-x: hidden;
    border-radius: 20px;
}

.box li {
    position: relative;
    display: block;
    padding: 5px;
    z-index: 10;
}

.display button p i {
    padding-right: 7px;
}

.box .nolog {
    align-items: center;
    text-align: center;
    padding-top: 30px;
}

@media screen and (max-width: 600px) {
    .box {
        width: 300px;
    }
}
