<div class="display">
  <button nz-button nzType="primary" nzShape="round" (click)="showLogs()">
    <p><i nz-icon nzType="comment"></i>Activer / Désactiver les logs</p>
  </button>
  <button nz-button NzSize="small" nzType="dashed" nzShape="round" (click)="getMissions()">
    <p><i nz-icon nzType="folder"></i>Ouvrir logs d'une précédente mission</p>
  </button>
  <div class="oldlogs" *ngIf="isVisible">
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter">
      <ng-template #modalTitle>Logs d’une mission précédente</ng-template>

      <ng-template #modalContent>
        <div class="oldMissions" *ngFor="let mission of missions">
          <button nz-button nzType="text" (click)="call(mission)">
            <p><i nz-icon nzType="folder-open" nzTheme="outline"></i>Mission {{ mission.id }}</p>
          </button>
        </div>
      </ng-template>

      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleClose()">Fermer</button>
      </ng-template>
    </nz-modal>
  </div>
  <div class="box" [hidden]="appService.isLogsHidden">
    <p class="nolog" *ngIf="logs.length === 0">Aucun log à afficher pour le moment</p>
    <div class="layout" *ngFor="let log of logs">
      <ul>
        <li>
          <p><i nz-icon nzType="calendar" nzTheme="twotone"></i>{{ log.timestamp }} :</p>
        </li>
        <li>
          <p><i nz-icon nzType="tag" nzTheme="twotone"></i>{{ log.message }}</p>
        </li>
      </ul>
    </div>
  </div>
</div>
