<div class="drone">
  <nz-list nzBordered nzSize="small">
    <nz-list-item *ngIf="drone.state === DroneState.Waiting">
      <i nz-icon nzType="interaction" nzTheme="twotone"></i> Etat : {{ drone.state }}
    </nz-list-item>
    <nz-list-item *ngIf="drone.state === DroneState.Starting">
      <i nz-icon nzType="play-circle" nzTheme="twotone"></i> Etat : {{ drone.state }}
    </nz-list-item>
    <nz-list-item *ngIf="drone.state === DroneState.Navigating">
      <i nz-icon nzType="eye" nzTheme="twotone"></i> Etat : {{ drone.state }}
    </nz-list-item>
    <nz-list-item *ngIf="drone.state === DroneState.Crashed">
      <i nz-icon nzType="warning" nzTheme="twotone"></i> Etat : {{ drone.state }}
    </nz-list-item>
    <nz-list-item *ngIf="drone.state === DroneState.Landing">
      <i nz-icon nzType="check-circle" nzTheme="twotone"></i> Etat : {{ drone.state }}
    </nz-list-item>
    <nz-list-item> <i nz-icon nzType="environment" nzTheme="twotone"></i> Position </nz-list-item>
    <nz-list-item> <i nz-icon nzType="compass" nzTheme="twotone"></i> Orientation </nz-list-item>
  </nz-list>
  <div class="button" *ngIf="appService.droneType === DroneType.Crazyflie">
    <button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="identifyDrone(drone.uuid)">
      <i nz-icon nzType="info-circle"></i>
      Identifier
    </button>
  </div>
</div>
