.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 30px;
    grid-auto-rows: 80px;
    grid-template-areas: 'a b';
}

.box1 {
    grid-area: a;
    align-self: center;
    justify-self: center;
}

.box2 {
    grid-area: b;
    align-self: center;
    justify-self: center;
}

.box1,
.box2 {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color: #ffffff, $alpha: 0.5);
    overflow: hidden;
    border-radius: 20px;
}

.box1::before,
.box2::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#a33b3b, #305aad);
    animation: animate 4s linear infinite;
}

.box1::after,
.box2::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #ffffff;
    border-radius: 16px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.box1 p,
.box2 p {
    position: relative;
    z-index: 10;
    color: #000000;
}

.box1 a,
.box2 a {
    position: relative;
    display: table;
    padding: 10px;
    z-index: 10;
}

.box1 button,
.box2 button {
    display: table-cell;
    position: relative;
    z-index: 10;
}
