.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(1, 1fr);
    gap: 2%;
    grid-template-areas: 'a b';
    justify-items: center;
}

.box1 {
    grid-area: a;
}

.box2 {
    grid-area: b;
    justify-items: center;
}

.box1,
.box2 {
    position: relative;
    width: 250px;
    height: 250px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color: #ffffff, $alpha: 0.5);
    overflow: hidden;
    border-radius: 20px;
}

.box1 li,
.box2 li {
    color: #000000;
    position: relative;
    display: block;
    padding: 5px;
    z-index: 10;
}

.box1::before,
.box2::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 140%;
    background: linear-gradient(#a33b3b, #305aad);
    animation: animate 4s linear infinite;
}

.box1::after,
.box2::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #ffffff;
    border-radius: 16px;
}

.box1 li p i,
.box2 li p i {
    padding-right: 7px;
}

.data {
    background-color: #f3f6f4;
    border: 2px solid lightgray;
    border-radius: 20px;
    padding: 0 10px 0 10px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
