<form class="drone">
  <fieldset class="box">
    <legend>Drone.number</legend>
    <div class="control-group">
      <label class="control-label" for="input01">État : </label>
      {{ drone.state }}
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Position :</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="input01">Orientation :</label>
      <div class="controls">
        <input type="text" class="input-xlarge" id="input01" />
      </div>
    </div>

    <div class="button" *ngIf="appService.droneType === DroneType.Crazyflie">
      <button mat-raised-button (click)="identifyDrone(drone.uuid)">Identifier</button>
    </div>
  </fieldset>
</form>
