.grid-container {
    margin-top: 64px;
    height: auto;
    border: 1px solid green;
    display: grid;
    grid-template-columns: 200px repeat(2, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-column-gap: 2%;
    grid-row-gap: 1%;
    grid-template-areas:
        's i m'
        's c d'
        's l d';
}
.grid-map {
    padding-top: 10px;
    grid-area: i;
    align-self: center;
    justify-self: center;
}

.grid-log {
    padding-top: 10px;
    grid-area: l;
    justify-self: center;
}

.grid-mission {
    padding-top: 10px;
    grid-area: m;
    justify-self: center;
}

.grid-drones {
    grid-area: d;
    justify-self: center;
}

@media (max-width: 900px) {
    .grid-container {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(4 1fr);
        grid-template-areas:
            'd'
            'm'
            'c'
            'i';
    }
}
