.container-loading {
    margin-left: 200px;
    margin-top: 65px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container {
    margin-left: 200px;
    margin-top: 65px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.container div {
    margin: 10px;
    justify-content: center;
    align-items: center;
}

.log {
    display: flex;
    align-items: center;
    flex: 310px;
    background-color: transparent;
}

.drones {
    display: flex;
    align-items: center;
    flex: 400px;
}

.map {
    display: flex;
    flex: 500px;
}
.map-drone-container {
    position: relative;
    width: 100%;
    display: flex;
}

@media screen and (max-width: 900px) {
    .container {
        margin-left: 0;
        justify-content: center;
    }
}

.loading {
    margin-top: 25%;
    width: 100%;
    display: flex;
    justify-content: center;
}

.load {
    display: flex;
    flex-direction: column;
    align-items: center;

    p {
        font-size: 15px;
        font-weight: 800;
        color: #2652a4;
        margin-top: 5%;
    }
}
