<div class="container-loading" *ngIf="isNotConnected">
  <div class="loading">
    <div class="load">
      <nz-spin nzSimple [nzSize]="'large'"></nz-spin>
      <p>En attente de connexion...</p>
    </div>
  </div>
</div>
<div class="container" *ngIf="!isNotConnected">
  <div class="dashboard-container">
    <div class="drones"><app-drone-container></app-drone-container></div>
    <div class="map"><app-map-container></app-map-container></div>
    <div class="log" [hidden]="!logService.logIsShown"><app-log></app-log></div>
  </div>
</div>
