[nz-icon] {
    margin-right: 6px;
    font-size: 30px;
    position: absolute;
    bottom: 200px;
    right: 300px;
}

.layout {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2%;
    justify-items: center;
}

@media (max-width: 700px) {
    .layout {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            'a'
            'b';
        gap: 4%;
    }
}
