<div class="box">
  <ul>
    <li>
      <p><i nz-icon nzType="calendar" nzTheme="outline"></i>Date :</p>
    </li>
    <li>
      <p><i nz-icon nzType="clock-circle" nzTheme="outline"></i>Heure :</p>
    </li>
    <li>
      <p><i nz-icon nzType="dashboard" nzTheme="outline"></i>Temps de vol :</p>
    </li>
    <li>
      <p><i nz-icon nzType="rocket" nzTheme="outline"></i>Nombre de drones :</p>
    </li>
    <li>
      <p><i nz-icon nzType="info-circle" nzTheme="outline"></i>Distance totale parcourue :</p>
    </li>
    <li>
      <p><i nz-icon nzType="control" nzTheme="outline"></i>Type :</p>
    </li>
    <li class="button">
      <button nz-button NzSize="small" nzType="dashed" nzShape="round" (click)="getMissions()">
        <p>
          <i nz-icon nzType="folder"></i>Ouvrir une <br />
          précédente mission
        </p>
      </button>
    </li>
  </ul>

  <div class="oldlogs">
    <nz-modal [(nzVisible)]="isVisible" [nzTitle]="modalTitle" [nzContent]="modalContent" [nzFooter]="modalFooter">
      <ng-template #modalTitle>Ouvrir une mission précédente</ng-template>

      <ng-template #modalContent>
        <div class="oldMissions" *ngFor="let mission of missions">
          <button nz-button nzType="text" (click)="call(mission)">
            <p><i nz-icon nzType="folder-open" nzTheme="outline"></i>Mission {{ mission.id }}</p>
          </button>
        </div>
      </ng-template>

      <ng-template #modalFooter>
        <button nz-button nzType="default" (click)="handleClose()">Fermer</button>
      </ng-template>
    </nz-modal>
  </div>
</div>
