<div class="box">
  <ul *ngIf="!isMission">
    <li>
      <p><i nz-icon nzType="calendar" nzTheme="outline"></i>Date :</p>
    </li>
    <li>
      <p><i nz-icon nzType="clock-circle" nzTheme="outline"></i>Heure :</p>
    </li>
    <li>
      <p><i nz-icon nzType="dashboard" nzTheme="outline"></i>Temps de vol :</p>
    </li>
    <li>
      <p><i nz-icon nzType="rocket" nzTheme="outline"></i>Nombre de drones :</p>
    </li>
    <li>
      <p><i nz-icon nzType="info-circle" nzTheme="outline"></i>Distance totale parcourue :</p>
    </li>
    <li>
      <p><i nz-icon nzType="control" nzTheme="outline"></i>Type :</p>
    </li>
    <li class="button">
      <button nz-button NzSize="small" nzType="dashed" nzShape="round" (click)="getMissions()">
        <p>
          <i nz-icon nzType="folder"></i>Ouvrir logs <br />
          d'une précédente mission
        </p>
      </button>
    </li>
  </ul>
  <div class="oldlogs" *ngIf="isMission">
    <button nz-button NzSize="small" nzType="dashed" nzShape="round" (click)="close()">
      <p><i nz-icon></i>Fermer</p>
    </button>
    <div class="oldMissions" *ngFor="let mission of missions">
      <button nz-button NzSize="small" nzType="dashed" nzShape="round" (click)="call(mission)">
        <p><i nz-icon nzType="folder"></i> Mission {{ mission.id }}</p>
      </button>
    </div>
  </div>
</div>
