.box {
    position: relative;
    width: 400px;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba($color: #ffffff, $alpha: 0.5);
    overflow: hidden;
    border-radius: 20px;
}

.box::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150%;
    background: linear-gradient(#a33b3b, #305aad);
    animation: animate 4s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #ffffff;
    border-radius: 16px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}
.box a {
    color: #000000;
    position: relative;
    display: table;
    padding: 10px;
    z-index: 10;
}

.box button {
    display: table-cell;
    position: relative;
    z-index: 10;
}
