<div class="mission">
  <nz-list class="mission-list" nzSize="small">
    <nz-list-item>
      <i nz-icon nzType="calendar" nzTheme="twotone"></i>
      <p>Date :</p>
    </nz-list-item>
    <nz-list-item>
      <i nz-icon nzType="clock-circle" nzTheme="twotone"></i>
      <p>Heure :</p>
    </nz-list-item>
    <nz-list-item>
      <i nz-icon nzType="dashboard" nzTheme="twotone"></i>
      <p>Temps de vol :</p>
    </nz-list-item>
    <nz-list-item>
      <i nz-icon nzType="rocket" nzTheme="twotone"></i>
      <p>Nombre de drones :</p></nz-list-item
    >
    <nz-list-item>
      <i nz-icon nzType="info-circle" nzTheme="twotone"></i>
      <p>Distance totale parcourue :</p></nz-list-item
    >
    <nz-list-item>
      <i nz-icon nzType="control" nzTheme="twotone"></i>
      <p>Type :</p>
    </nz-list-item>
  </nz-list>
  <div class="button">
    <button nz-button nzType="primary" nzShape="round">
      <i nz-icon nzType="folder"></i>
      Ouvrir carte générée lors d'une précédente mission
    </button>
  </div>
</div>
