.info li {
    color: #000000;
    position: relative;
    display: block;
    padding: 5px;
    z-index: 10;
}

.data {
    padding-right: 0;
}

.position li {
    text-align: center;
    margin: 0 0 0 50px 0;
}
