<div class="info">
  <li *ngIf="drone.state === DroneState.NotReady">
    <p>
      <i class="icon" nz-icon nzType="stop" nzTheme="outline"></i>Etat : <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.Ready">
    <p>
      <i class="icon" nz-icon nzType="check-circle" nzTheme="outline"></i>Etat :
      <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.TakingOff">
    <p>
      <i class="icon" nz-icon nzType="up-circle" nzTheme="outline"></i> Etat :
      <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.Exploring">
    <p>
      <i class="icon" nz-icon nzType="eye" nzTheme="outline"></i>Etat : <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.ReturningBase">
    <p>
      <i class="icon" nz-icon nzType="down-square" nzTheme="outline"></i>Etat :
      <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.Crashed">
    <nz-alert
      nzType="error"
      nzMessage="Erreur"
      nzDescription="Il s'agit d'un message d'erreur lorsqu'un crash de drone survient"
      nzShowIcon
    ></nz-alert>
    <p>
      <i class="icon" nz-icon nzType="warning" nzTheme="outline"></i>Etat : <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.Landing">
    <p>
      <i class="icon" nz-icon nzType="down-circle" nzTheme="outline"></i>Etat :
      <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li>
    <div class="batterie-container">
      <p><i class="icon" nz-icon nzType="thunderbolt" nzTheme="outline"></i>Batterie :</p>
      <div class="batterie-data" *ngIf="!isStateNotReady">
        <span class="data"
          >{{ drone.battery.charge_percentage }}<i nz-icon nzType="percentage" nzTheme="outline"></i>
        </span>
        <app-percentage-bar class="percentage-bar" [percentage]="drone.battery.charge_percentage"></app-percentage-bar>
      </div>
      <div class="batterie-alert" *ngIf="isBatteryDead && missionService.isMissionStarted">
        <p>Batteries faibles <i nz-icon nzType="warning" nzTheme="outline"></i></p>
      </div>
    </div>
  </li>
  <li>
    <div class="position-container">
      <div class="title-container">
        <p class="title"><i class="icon" nz-icon nzType="environment" nzTheme="outline"></i>Position :</p>
      </div>
      <div class="positions" *ngIf="!isStateNotReady">
        <p class="position">x = {{ drone.position.x | number: '1.0-3' }}</p>
        <p class="position">y = {{ drone.position.y | number: '1.0-3' }}</p>
        <p class="position">z = {{ drone.position.z | number: '1.0-3' }}</p>
      </div>
    </div>
  </li>
  <li>
    <p>
      <i class="icon" nz-icon nzType="compass" nzTheme="outline"></i>Orientation :
      <span class="data" *ngIf="!isStateNotReady">{{ drone.orientation.yaw }}</span>
    </p>
  </li>
</div>
