<div class="info">
  <li *ngIf="drone.state === DroneState.NotReady">
    <p>
      <i nz-icon nzType="stop" nzTheme="twotone"></i>Etat : <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.Ready">
    <p>
      <i nz-icon nzType="check-circle" nzTheme="twotone"></i>Etat : <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.TakingOff">
    <p>
      <i nz-icon nzType="up-circle" nzTheme="twotone"></i> Etat : <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.Exploring">
    <p>
      <i nz-icon nzType="eye" nzTheme="twotone"></i>Etat : <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.ReturningBase">
    <p>
      <i nz-icon nzType="down-square" nzTheme="twotone"></i>Etat :
      <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.Crashed">
    <nz-alert
      nzType="error"
      nzMessage="Erreur"
      nzDescription="Il s'agit d'un message d'erreur lorsqu'un crash de drone survient"
      nzShowIcon
    ></nz-alert>
    <p>
      <i nz-icon nzType="warning" nzTheme="twotone"></i>Etat : <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li *ngIf="drone.state === DroneState.Landing">
    <p>
      <i nz-icon nzType="down-circle" nzTheme="twotone"></i>Etat : <span class="data">{{ drone.state }}</span>
    </p>
  </li>
  <li>
    <p>
      <i nz-icon nzType="thunderbolt" nzTheme="twotone"></i>Batterie :
      <span class="data"
        >{{ drone.battery.charge_percentage }}<i nz-icon nzType="percentage" nzTheme="outline"></i>
      </span>
      <app-percentage-bar [color]="color" [percentage]="drone.battery.charge_percentage"></app-percentage-bar>
    </p>
  </li>
  <li>
    <p><i nz-icon nzType="environment" nzTheme="twotone"></i>Position :</p>
    <ol class="position">
      <li class="data">x = {{ drone.position.x | number: '1.0-3' }}</li>
      <li class="data">y = {{ drone.position.y | number: '1.0-3' }}</li>
      <li class="data">z = {{ drone.position.z | number: '1.0-3' }}</li>
    </ol>
  </li>
  <li>
    <p>
      <i nz-icon nzType="compass" nzTheme="twotone"></i>Orientation :
      <span class="data">{{ drone.orientation.yaw }}</span>
    </p>
  </li>
</div>
