.info li {
    color: #000000;
    position: relative;
    display: block;
    padding: 5px;
    z-index: 10;
}

.data {
    padding-right: 0;
}

.position-container {
    width: 100%;
    display: flex;
    .title {
        margin-right: 19px;
    }
    .position {
        margin-left: 4px;
        margin-right: 4px;
    }
}

.percentage-bar {
    margin-left: 5px;
}
