<div class="box">
  <div class="drone-title"><i nz-icon nzType="rocket" nzTheme="outline"></i>Robot ID: {{ droneID }}</div>
  <div class="content">
    <ul>
      <li>
        <div class="color-container">
          <p><i class="icon" nz-icon nzType="tag" nzTheme="outline"></i>Couleur trajet :</p>
          <div style="display: flex" class="drone">
            <span class="dot" [style.background-color]="droneFillStyle"></span>
          </div>
        </div>
      </li>
      <app-drone-pulse [drone]="drone"></app-drone-pulse>
      <li class="button" *ngIf="appService.droneType === DroneType.Crazyflie">
        <button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="identifyDrone(droneID)">
          <p><i class="icon" nz-icon nzType="info-circle" nzTheme="outline"></i>Identifier</p>
        </button>
      </li>
      <div class="input-container" *ngIf="inputIsShown">
        <li>
          <p class="title"><i class="icon" nz-icon nzType="environment" nzTheme="outline"></i>Position :</p>
        </li>
        <li>
          <div class="position-container">
            <p class="input-pos">
              x :
              <nz-input-number
                [(ngModel)]="position.x"
                [nzMin]="-2"
                [nzMax]="2"
                [nzStep]="0.001"
                [disabled]="isMissionStarted || stateIsNotReady"
                nzSize="small"
                style="width: 68px"
              ></nz-input-number>
            </p>
            <p class="input-pos">
              y :
              <nz-input-number
                [(ngModel)]="position.y"
                [nzMin]="-2"
                [nzMax]="2"
                [nzStep]="0.001"
                [disabled]="isMissionStarted || stateIsNotReady"
                nzSize="small"
                style="width: 68px"
              ></nz-input-number>
            </p>
            <p class="input-pos">
              z :
              <nz-input-number
                [(ngModel)]="position.z"
                [nzMin]="-2"
                [nzMax]="2"
                [nzStep]="0.001"
                [disabled]="isMissionStarted || stateIsNotReady"
                nzSize="small"
                style="width: 68px"
              ></nz-input-number>
            </p>
          </div>
        </li>
        <li>
          <p><i class="icon" class="icon" nz-icon nzType="compass" nzTheme="outline"></i>Orientation :</p>
          <div class="orientation-container">
            <div class="slider">
              <nz-slider
                [nzMin]="-180"
                [nzMax]="180"
                [(ngModel)]="orientation.yaw"
                [disabled]="isMissionStarted || stateIsNotReady"
              ></nz-slider>
            </div>
            <div class="number">
              <nz-input-number
                [nzMin]="-180"
                [nzMax]="180"
                [(ngModel)]="orientation.yaw"
                [disabled]="isMissionStarted || stateIsNotReady"
                nzSize="small"
                style="width: 70px"
              ></nz-input-number>
            </div>
          </div>
        </li>
        <div class="button-container">
          <li class="button">
            <button
              nz-button
              [disabled]="isMissionStarted || stateIsNotReady"
              nzType="primary"
              nzShape="round"
              (click)="onSetInitialConfig()"
            >
              <p><i nz-icon nzType="check-circle" nzTheme="outline"></i>Valider</p>
            </button>
          </li>
        </div>
      </div>
    </ul>
  </div>
</div>
