.display {
    text-align: center;
    align-items: center;
    justify-content: center;
}

.box {
    position: relative;
    width: 400px;
    height: auto;
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    background: rgba($color: #ffffff, $alpha: 0.5);
    overflow: hidden;
    border-radius: 20px;

    li {
        color: #000000;
        position: relative;
        display: block;
        padding: 5px;
        z-index: 10;
    }
}

.box .box button p i {
    padding-right: 7px;
}

.button {
    text-align: center;
}

.position-container {
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    height: 40px;
    .input-pos {
        margin-right: 13px;
    }
}

@media screen and (max-width: 1400px) {
    .box {
        width: 400px;
    }
}

@media screen and (max-width: 1100px) {
    .box {
        width: 350px;
    }
}

@media screen and (max-width: 600px) {
    .box {
        width: 350px;
    }
}
