<div class="box">
  <ul>
    <li>
      <p class="drone"><i nz-icon nzType="rocket" nzTheme="twotone"></i>Drone :</p>
      <ul>
        <li class="data">{{ droneUUID }}</li>
      </ul>
    </li>
    <app-drone-pulse [drone]="drone"></app-drone-pulse>
    <li class="button" *ngIf="appService.droneType === DroneType.Crazyflie">
      <button nz-button nzType="primary" [nzSize]="size" nzShape="round" (click)="identifyDrone(droneUUID)">
        <p><i nz-icon nzType="info-circle"></i>Identifier</p>
      </button>
    </li>
    <li class="button">
      <button nz-button NzSize="small" nzType="dashed" nzShape="round" (click)="showPos()">
        <p><i nz-icon nzType="form"></i>Choisir positions et orientation initiales</p>
      </button>
    </li>
    <div class="pos" *ngIf="appService.isPosOriHidden">
      <li>
        <p><i nz-icon nzType="environment" nzTheme="twotone"></i>Position :</p>
        <ol class="choosePos">
          <li>
            <p>
              x :
              <nz-input-number [(ngModel)]="position.x" [nzMin]="-2" [nzMax]="2" [nzStep]="0.001"></nz-input-number>
            </p>
          </li>
          <li>
            <p>
              y :
              <nz-input-number [(ngModel)]="position.y" [nzMin]="-2" [nzMax]="2" [nzStep]="0.001"></nz-input-number>
            </p>
          </li>
          <li>
            <p>
              z :
              <nz-input-number [(ngModel)]="position.z" [nzMin]="-2" [nzMax]="2" [nzStep]="0.001"></nz-input-number>
            </p>
          </li>
        </ol>
      </li>
      <li>
        <p><i nz-icon nzType="compass" nzTheme="twotone"></i>Orientation :</p>
        <nz-row>
          <nz-col nzSpan="12">
            <nz-slider
              [nzMin]="-180"
              [nzMax]="180"
              [(ngModel)]="orientation.yaw"
              [disabled]="isMissionStarted"
            ></nz-slider>
          </nz-col>
          <div nz-col nzSpan="4">
            <nz-input-number
              [nzMin]="-180"
              [nzMax]="180"
              [(ngModel)]="orientation.yaw"
              [disabled]="isMissionStarted"
            ></nz-input-number>
          </div>
        </nz-row>
      </li>
      <li class="button">
        <button nz-button NzSize="small" nzType="dashed" nzShape="round">
          <p><i nz-icon nzType="check-circle"></i>Valider</p>
        </button>
      </li>
    </div>
  </ul>
</div>
