.layout {
    display: grid;
    grid-template-columns: repeat(2, 450px);
    justify-items: center;
}

@media (max-width: 700px) {
    .layout {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            'a'
            'b';
        gap: 2%;
        padding-top: 1%;
    }

    [nz-icon] {
        top: 50%;
    }
}
