<!-- Side navigation -->

<div class="topnav">
    <a href="#drone" [ngClass]="communicationService.droneType == 'CRAZYFLIE' ? 'selected' : 'not_selected'" (click)="setDroneType('CRAZYFLIE')"
        >Robots aériens</a
    >
    <a href="#simulation" [ngClass]="communicationService.droneType == 'ARGOS' ? 'selected' : 'not_selected'" (click)="setDroneType('ARGOS')"
        >Simulation</a
    >
</div>

<div class="sidebar">
    <div class="main-buttons">
        <button mat-raised-button (click)="startMission()">Lancer la mission</button>
        <button mat-raised-button (click)="endMission()">Terminer la mission</button>
        <button mat-raised-button (click)="returnToBase()">Retour à la base</button>

        <div *ngIf="communicationService.droneType == 'CRAZYFLIE'">
            <button mat-raised-button (click)="identifyDrone(selectedCraziflyDrone)">Identifier</button>
            <br />
            <select [(ngModel)]="selectedCraziflyDrone">
                <option *ngFor="let drone of droneRegistry.ARGOS" [ngValue]="drone.uuid">{{ drone.uuid }}</option>
            </select>
        </div>
    </div>
</div>

<div class="main">
    <!DOCTYPE html>
    <html>
        <head>
            <body>
                <img src="src/app/client/GoExplore_full_logo.png" alt="GoExplore" />
            </body>
        </head>
    </html>
</div>
