<!-- <div class="load" nz-icon [nzType]="'loading'" *ngIf="isSpinning"><p>En attente de drones</p></div>
<div class="layout" *ngIf="!isSpinning">
  <div class="box">
    <div class="exploration-container">
      <div class="exploration-title-container">
        <p><i nz-icon nzType="environment" nzTheme="outline"></i>Carte Exploration</p>
      </div>
      <div *ngFor="let item of appService.droneRegistry[appService.droneType] | keyvalue">
        <div class="exploration-map-container">
          <canvas #mapCanvas width="400" height="400" style="border: medium solid #063080"></canvas>
        </div>
        <p>{{ item.value }}</p>
      </div>
    </div>
    <div class="info-container">
      <div class="info-title-container">
        <p><i nz-icon nzType="info-circle" nzTheme="outline"></i>Progression totale</p>
      </div>
      <div class="info-progress-container">
        <p>{{ totalProgress }}</p>
      </div>
    </div>
  </div>
</div> -->
<canvas [id]="name" width="400" height="400" style="border: medium solid #063080"></canvas>
