.box {
    position: relative;
    width: 1000px;
    height: 900px;
    display: inline-block;
    justify-content: center;
    align-items: center;
    background: rgba($color: #ffffff, $alpha: 0.5);
    overflow: hidden;
    border-radius: 20px;
    justify-items: center;
}

.box::before {
    content: '';
    position: absolute;
    width: 150px;
    height: 150%;
    background: linear-gradient(#854949, #305aad);
    animation: animate 18s linear infinite;
}

.box::after {
    content: '';
    position: absolute;
    inset: 4px;
    background: #ffffff;
    border-radius: 16px;
}

@keyframes animate {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

.exploration-container {
    position: relative;
    width: 80%;
    height: 60%;
    display: inline-block;
    border-radius: 20px;
    overflow: hidden;
    z-index: 20;
    margin-top: 10%;
    margin-left: 10%;
    margin-right: 10%;
}

.exploration-title-container {
    font-size: xx-large;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    width: 100%;
    height: 20%;
    z-index: 30;
}

.exploration-title-container p i {
    padding-top: 20px;
    padding-right: 20px;
}

.exploration-map-container {
    position: relative;
    align-items: center;
    justify-content: center;
    display: flex;
    width: 100%;
    height: 80%;
    z-index: 30;
}

.info-container {
    position: relative;
    display: inline-block;
    width: 80%;
    height: 25%;
    border-radius: 20px;
    overflow: hidden;
    z-index: 20;
    margin-top: 5%;
    margin-left: 10%;
    margin-right: 10%;
    border-style: solid;
    border-color: #063080;
    border-width: medium;
}

.info-title-container {
    height: 30%;
    width: 100%;
    font-size: x-large;
    align-items: center;
    justify-content: center;
    position: relative;
    display: flex;
    overflow: hidden;
}

.info-title-container p i {
    padding-top: 20px;
    padding-right: 20px;
}

.info-progress-container {
    font-size: x-large;
    align-items: center;
    display: flex;
    justify-content: center;
    height: 60%;
    width: 100%;
}

.info-progress-container p {
    padding-right: 7px;
}
