<nz-header class="topnav">
  <i
    nz-icon
    nzType="menu-unfold"
    class="sidebar-toggle"
    nz-dropdown
    [nzDropdownMenu]="sidebarMenu"
    nzPlacement="bottomLeft"
  ></i>
  <nz-dropdown-menu #sidebarMenu="nzDropdownMenu">
    <ul nz-menu>
      <li nz-submenu nzTitle="Type" nzIcon="control">
        <ul>
          <div class="drone-type">
            <nz-switch
              class="drone"
              [ngModel]="true"
              nzCheckedChildren="Crazyflie"
              nzUnCheckedChildren="Simulation"
              (ngModelChange)="toggleDroneType()"
            ></nz-switch>
          </div>
        </ul>
      </li>
      <li nz-submenu nzTitle="Mission" nzIcon="login">
        <ul>
          <li nz-menu-item [nzDisabled]="isSpinning || isMissionStarted" (click)="missionService.startMission()">
            Lancer la mission
          </li>
          <li nz-menu-item [nzDisabled]="!isMissionStarted" (click)="missionService.endMission()">
            Terminer la mission
          </li>
        </ul>
      </li>
      <li nz-submenu nzTitle="Directives" nzIcon="laptop">
        <ul>
          <li
            nz-menu-item
            [nzDisabled]="!isMissionStarted || returnToBaseActivated"
            (click)="missionService.returnToBase()"
          >
            Retour à la base
          </li>
        </ul>
      </li>
      <li nz-menu-item (click)="sidebarComponent.showHistory()">
        <i nz-icon nzType="folder-open" nzTheme="outline"></i>Historique
      </li>
      <li nz-submenu nzTitle="Paramètres" nzIcon="cloud-download">
        <ul>
          <li nz-menu-item [nzDisabled]="isMissionStarted || isSimulation" (click)="missionService.update()">
            Mise à jour
          </li>
          <li>
            <div class="log-container">
              Logs
              <nz-switch
                class="log-switch"
                [nzDisabled]="!isMissionStarted"
                [ngModel]="logIsShown"
                [nzCheckedChildren]="checkedTemplate"
                [nzUnCheckedChildren]="unCheckedTemplate"
                (ngModelChange)="showLogs()"
              >
                <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
                <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
              </nz-switch>
            </div>
          </li>
        </ul>
      </li>
      <li nz-menu-item nzType="info-circle" (click)="sidebarComponent.showHelp()"><p class="help">Aide</p></li>
      <li nz-menu-item (click)="sidebarComponent.showInformation()">
        <i nz-icon nzType="info-circle" nzTheme="outline"></i>Informations
      </li>
    </ul>
  </nz-dropdown-menu>
  <img class="logo" draggable="false" src="assets\images\ge_full_logo.png" alt="logo" />
</nz-header>
