.sidebar {
    height: 100%;
    width: 200px;
    background-color: #305aad;
}

.main-buttons button {
    display: table-cell;
    width: 150px;
    margin-top: 20px;
    margin-bottom: 10px;
    margin-left: 15px;
}

// @media screen and (max-height: 450px) {
//     .sidebar {
//         padding-top: 15px;
//     }
// }
