<nz-sider class="sider-menu" id="navID" nzTheme="light">
  <ul nz-menu nzMode="inline">
    <li>
      <div class="drone-type">
        <nz-switch
          class="drone"
          [ngModel]="!isSimulationSelected"
          nzCheckedChildren="Crazyflie"
          nzUnCheckedChildren="Simulation"
          (ngModelChange)="toggleDroneType()"
        ></nz-switch>
      </div>
    </li>
    <li nz-submenu [nzOpen]="!isNotConnected" nzTitle="Mission" nzIcon="login">
      <ul>
        <li>
          <button
            class="button start"
            [disabled]="stateIsNotReady || !stateIsReady || isMissionStarted"
            (click)="missionService.startMission()"
          >
            Lancer la mission
          </button>
        </li>
        <li>
          <button
            class="button stop"
            [disabled]="!isMissionStarted"
            (click)="missionService.endMission()"
          >
            Terminer la mission
          </button>
        </li>
        <li nz-submenu [nzOpen]="isMissionStarted" nzTitle="Directives" nzIcon="laptop">
          <ul>
            <button
              class="button base"
              [disabled]="!isMissionStarted || isReturnToBaseDisabled"
              (click)="missionService.returnToBase()"
            >
              Retour à la base
            </button>
          </ul>
        </li>
      </ul>
    </li>
    <li>
      <button class="button-history" (click)="showHistory()">
        <i class="folder" nz-icon nzType="folder-open" nzTheme="outline"></i>Historique
      </button>
    </li>
    <li nz-submenu [nzOpen]="!isNotConnected" nzTitle="Paramètres" nzIcon="setting">
      <ul>
        <li>
          <button
            *ngIf="!isSimulationSelected"
            class="button p2p"
            [disabled]="isNotConnected || p2pIsEnabled || stateIsReady"
            (click)="missionService.activateP2P()"
          >
            Activer P2P
          </button>
        </li>
        <li>
          <button class="placeholder" disabled>Configuration</button>
          <nz-switch
            class="switch"
            [ngModel]="inputIsShown"
            [nzDisabled]="isNotConnected"
            [nzCheckedChildren]="checkedTemplate"
            [nzUnCheckedChildren]="unCheckedTemplate"
            (ngModelChange)="droneService.showInput()"
          >
            <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
            <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
          </nz-switch>
        </li>
        <li>
          <button class="placeholder" disabled>Afficher logs</button>
          <nz-switch
            class="switch"
            [ngModel]="logIsShown"
            [nzDisabled]="isNotConnected"
            [nzCheckedChildren]="checkedTemplate"
            [nzUnCheckedChildren]="unCheckedTemplate"
            (ngModelChange)="showLogs()"
          >
            <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
            <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
          </nz-switch>
        </li>
        <li>
          <button class="placeholder" disabled>Afficher trajet</button>
          <nz-switch
            class="switch"
            [ngModel]="pathIsShow"
            [nzDisabled]="isNotConnected"
            (ngModelChange)="togglePaths($event)"
            [nzCheckedChildren]="checkedTemplate"
            [nzUnCheckedChildren]="unCheckedTemplate"
          >
            <ng-template #checkedTemplate><i nz-icon nzType="check"></i></ng-template>
            <ng-template #unCheckedTemplate><i nz-icon nzType="close"></i></ng-template>
          </nz-switch>
        </li>
      </ul>
    </li>
  </ul>
  <div class="button-container">
    <button class="help" nz-button nzType="primary" nzShape="round" (click)="showHelp()">Aide</button>
  </div>
  <div class="button-container">
    <button nz-button nzType="primary" nzShape="round" (click)="showInformation()">
      <i nz-icon nzType="info-circle"></i>
      Informations
    </button>
  </div>
</nz-sider>
