<nz-sider class="sider-menu" id="navID" nzTheme="light" onmouseover="toggleSidebar()">
  <ul nz-menu nzMode="inline">
    <li nz-submenu nzOpen nzTitle="Mission" nzIcon="login">
      <ul>
        <li nz-menu-item nzSelected (click)="startMission()">Lancer la mission</li>
        <li nz-menu-item (click)="endMission()">Terminer la mission</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Directives" nzIcon="laptop">
      <ul>
        <li nz-menu-item (click)="returnToBase()">Retour à la base</li>
      </ul>
    </li>
    <li nz-submenu nzTitle="Logiciel" nzIcon="cloud-download">
      <ul>
        <li nz-menu-item>Mise à jour</li>
      </ul>
    </li>
  </ul>
</nz-sider>
