<div class="box">
  <div class="title">
    <i class="fas fa-map"></i>Carte
    <div class="id" *ngIf="missionService.isMissionStarted">(Mission {{ currentMissionID }})</div>
  </div>

  <div class="map-container">
    <!-- position canvas for every drone -->
    <div *ngFor="let id of connectedDrones" style="position: absolute">
      <app-map [droneID]="id" [name]="id + 'position'" type="position" zindex="2"></app-map>
    </div>
    <!-- path canvas for every drone -->
    <div *ngFor="let id of connectedDrones" style="position: absolute">
      <app-map [droneID]="id" [name]="id + 'path'" type="path" zindex="1"></app-map>
    </div>
    <!-- obstacle canvas for all drones -->
    <div style="position: absolute">
      <app-map name="baseCanvas" type="obstacle" zindex="0"></app-map>
    </div>
  </div>
</div>
